<div class="header-wrapper">
  <div class="header-menu">
    <div class="candidates">
      <h2><span>icon</span> &nbsp;Login</h2>
    </div>
    <div class="login">
      <h2><span>icon</span> &nbsp;Login</h2>
    </div>
  </div>
  <hr />
  <div class="sub-heading-menu">
    <div class="logo">
      <h1><a href="#">Codility</a></h1>
    </div>
    <div class="nav-bar">
      <li>Plateform</li>
      <li>Solutions</li>
      <li>Resources</li>
      <li>Our Customers</li>
      <li>
        <button class="book-demo-button">Book a demo</button>
      </li>
    </div>
  </div>
</div>
