<div class="header-wrapper">
  <div class="header-menu">
    <div class="candidates">
      <h2>
        <span><i class="fa fa-solid fa-graduation-cap"></i> </span> &nbsp;For
        Candidates
      </h2>
    </div>
    <div class="login">
      <h2>
        <span><i class="fa fa-light fa-user"></i></span> &nbsp;Login
      </h2>
    </div>
  </div>
  <hr />
  <div class="sub-heading-menu">
    <div class="logo">
      <h1><a href="#">Codility</a></h1>
    </div>
    <div class="nav-bar">
      <div class="list-item">
      <li>
        Plateform
          <i class="fa fa-solid fa-sort-down"></i>
          <div class="plateform-detail">
            <div class="menu-detail-section">
              <h1>On the Shoulders of Giants</h1>
              <p>
                By increasing engineering team capacity, we help the world’s biggest companies solve problems that matter.
              </p>
            </div>
            <div class="nav-info">
                <li>Platform</li>
                <li>CodeCheck</li>
                <li>CodeLive</li>
                <li>CodeEvent</li>
            </div>
            <div class="pricing-info">
              <ul>
                <li>Pricing</li>
                <li>Integrations & Partners</li>
              </ul>
            </div>
          </div>
        </li>
      </div>
      <div class="list-item">
        <li>
          Solutions
            <i class="fa fa-solid fa-sort-down"></i>
            <div class="plateform-detail">
              <h1>hello</h1>
            </div>
          </li>
        </div>
        <div class="list-item">
          <li>
            Resources
              <i class="fa fa-solid fa-sort-down"></i>
              <div class="plateform-detail">
                <h1>hello</h1>
              </div>
            </li>
          </div>
          <div class="list-item">
            <li>
              Our Customers
                <i class="fa fa-solid fa-sort-down"></i>
                <div class="plateform-detail">
                  <h1>hello</h1>
                </div>
              </li>
            </div>
      <li>
        <button class="book-demo-button">Book a demo</button>
      </li>
    </div>
  </div>
  <hr />
</div>
